<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<ul>
  <% @cupcakes.each do |cupcake| %>
    <li>
    <%= cupcake.name %>
    <%= number_to_currency cupcake.price %>
    <%= form_tag order_path(cupcake.id) do %>
      <%= label_tag :quantity %>
      <%= select_tag :quantity, options_for_select( [1, 2, 3, 4, 5]) %>
      <%= submit_tag "Add to Order" %>
    <% end %>
    </li>
  <% end %>
</ul>

<% if @order %>
<h3> Your order id: <%=@order.id%> </h3>
<% @order.lineitems.each do |item| %>

  <h3> <%= item.cupcake.name %> -<%= item.quantity%></h3>

<% end %>
<% end %>
